<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <DetailViewPanel
    id="ABContactAnalysisDV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <InputColumn>
      <Label
        label="displaykey.Ext.ContactAnalysis"/>
      <TypeKeyInput
        editable="true"
        id="ContactTier"
        label="displaykey.Ext.ContactTier"
        value="anABContact.ContactTier"/>
      <TextInput
        editable="true"
        id="CustomerRating"
        label="displaykey.Ext.CustomerRating"
        value="anABContact.CustomerRating_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="StrategicPartner"
        label="displaykey.Ext.StrategicPartner"
        value="anABContact.IsStrategicPartner_Ext"/>
      <DateInput
        editable="true"
        id="LastCourtesyContact"
        label="displaykey.Ext.LastCourtesyContact"
        value="anABContact.LastCourtesyContact_Ext"/>
      <TextInput
        editable="false"
        id="NumberOfFraudInvestigations"
        label="displaykey.Ext.FraudInvestigations"
        value="anABContact.FraudInvestigationNum_Ext"/>
      <TextInput
        editable="true"
        id="WebAddress"
        label="displaykey.Ext.WebAddress"
        value="anABContact.WebAddress_Ext"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>