<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    canEdit="true"
    id="InteractionPopup"
    startInEditMode="true"
    title="displaykey.Training.InteractionsPage">
    <LocationEntryPoint
      signature="InteractionPopup(anInteraction:Interaction_Ext)"/>
    <Variable
      name="anInteraction"
      type="Interaction_Ext"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <DateInput
            editable="true"
            id="InteractionDate"
            label="displaykey.Training.Date"
            value="anInteraction.InteractionDate"/>
          <BooleanRadioInput
            editable="true"
            id="InitiatedByContact"
            label="displaykey.Ext.InitiatedByContact"
            value="anInteraction.InitiatedByContact"/>
          <TypeKeyInput
            editable="true"
            id="ChannelType"
            label="displaykey.Ext.ChannelType"
            value="anInteraction.Channel"/>
          <TextAreaInput
            editable="true"
            id="Summary"
            label="displaykey.Training.Summary"
            maxChars="60"
            numCols="25"
            numRows="2"
            value="anInteraction.Summary"/>
          <Input
            editable="true"
            id="User"
            label="displaykey.Training.User"
            value="anInteraction.AssociatedUser"/>
          <TypeKeyInput
            editable="true"
            id="InteractionReasons"
            label="displaykey.Training.Reason"
            value="anInteraction.Reason"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>