<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListViewPanel
    id="InteractionsLV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <ExposeIterator
      valueType="entity.Interaction_Ext"
      widget="InteractionsLV"/>
    <RowIterator
      editable="true"
      elementName="currentInteraction"
      hasCheckBoxes="true"
      toAdd="anABContact.addToInteractions_Ext(currentInteraction)"
      toRemove="anABContact.removeFromInteractions_Ext(currentInteraction)"
      value="anABContact.Interactions_Ext">
      <Variable
        name="currentInteraction"
        type="Interaction_Ext"/>
      <Row>
        <DateCell
          editable="true"
          id="InteractionDate"
          label="displaykey.Training.Date"
          value="currentInteraction.InteractionDate"/>
        <TypeKeyCell
          action="InteractionPopup.push(currentInteraction)"
          editable="true"
          id="Reason"
          label="displaykey.Training.Reason"
          value="currentInteraction.Reason"/>
        <Cell
          editable="true"
          id="AssociatedUser"
          label="displaykey.Training.User"
          value="currentInteraction.AssociatedUser"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>